
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font:bold 12px Arial, Helvetica, sans-serif;
    background: linear-gradient(120deg,#eb98ebd8, #3e94f5da);
}
.clock{
    border: none;
    color: white;
    padding: 40px;
    border-radius: 10px;
    background-color: linear-gradient(120deg,#eb98ebd8, #3e94f5da);
    box-shadow: 10px 8px 10px 10px rgba(0, 0, 0, .5);
}
#Date{
    font-size: 20px !important;
    text-align: center;
}
.clock ul{
    list-style: none;
    display: flex;
    font-size: 90px;
    gap: 15px;
}

